{
  "plugins": [
    ["flow-runtime", {
      "assert": true,
    }],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird",
    "transform-runtime",
  ],

  "presets": [
    "es2015",
  ],
}
